/* #chart {
    width: 500px;
    
    margin-top: 100px;
    padding: 0;
  }
 .container{
    width: 500px;
    margin-top: 100px;
} 
span
{
    margin-left: 150px;
    color: rgb(89, 121, 228);
}
.blw
{
    margin: 0;
    
}

h4{
    font-weight: bolder;
    color: rgb(41, 29, 29);
}
h6{
    color: rgb(194, 195, 199);
} */

body {
    overflow-x: hidden;
 }



#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: rgb(247, 247, 247);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #0c0c0c;
    font-weight: 500;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background:black;
    width: 70%;
    margin-left: 10px;
    border-radius: 10px;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}



@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}


hr{
    margin-left:10px;
    margin-right: 50px;

}



span
{
    margin-left: 150px;
    color: rgb(89, 121, 228);
}
.head
{
    color: rgb(39, 71, 173);
}
.blw
{
    margin: 0;
    
}

h4{
    font-weight: bolder;
    color: rgb(41, 29, 29);
}
h6{
    color: rgb(194, 195, 199);
}
.card
{
    box-shadow:5px 5px 5px #d1d0d0;
    border-radius: 6px;
}