<div class="container-fluid">
  <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <!-- <div class="text-center mt-4 mb-4 logo">
          
        </div> -->
        
          <ul class="sidebar-nav">

<li>
  <img src="/src/assets/IMAGES/LOGO.JPG">
</li>
              <li>
                <a href="#"><i class="fas fa-home"></i>Home</a>
              </li>
              <li>
                  <a href="#"><i class="far fa-credit-card"></i>My Card</a>
              </li>
              <li>
                  <a href="#"><i class="far fa-receipt"></i>Transactions</a>
              </li>
              <li>
                  <a href="#"><i class="far fa-envelope"></i>Notifications</a>
              </li>
              <li>
                  <a href="#"><i class="far fa-wallet"></i>Payments</a>
              </li>
              <hr>
              <li>
                  <a href="#"><i class="fas fa-sitemap"></i>Departments</a>
              </li>
              <li>
                  <a href="#"><i class="fas fa-users"></i>users</a>
              </li>
              <li>
                  <a href="#"><i class="fas fa-database"></i>Audit Logs</a>
              </li>
              <hr>
              <li>
                  <a href="#"><i class="fas fa-cog"></i>Settings</a>
              </li>
          </ul>

      </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
      <div class="container">
          <div class="row">
              <div class="col-sm-6">

                  <p>
                       <b>16 Nov</b> 2020 TO <b>15 Dec </b>2020 >
                  </p>
                  <hr>
              </div>

              <div class="col-sm-6">
                  <div class="card ">
                      <p style="text-align: center;"> <b> christopher Walker </b></p>
                  </div>
              </div>
          </div>
          <div class="row mt-3 ">
              <div class="col-sm-6">
                  <div class="card left">
                      <div class="card-body">
                          <h4>Account Summary </h4>
                          <hr>

                          <h6>Available Balance <span>{{input}}</span></h6>


                          <hr>
                          <div class="row">
                              <div class="col-sm-6">
                                  <h6>forward Balance </h6>
                                  <span class="blw">{{input}}</span>
                              </div>


                              <div class="col-sm-4">
                                  <h6>credit limit</h6>
                                  <span class="blw right">{{input}}</span>
                              </div>

                          </div>
                          <hr>
                          <div class="row">
                              <div class="col-sm-6">
                                  <h6>spending plan adjustment </h6>
                                  <span class="blw">{{input}}</span>
                              </div>


                              <div class="col-sm-4">
                                  <h6>Rewards points</h6>
                                  <span class="blw right">{{input}}</span>
                              </div>

                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <h6>Download statement </h6>
                                  <span class="blw">{{input}}</span>
                              </div>


                              <div class="col-sm-4">
                                  <h6>View all Statements</h6>
                                  <span class="blw right">{{input}}</span>
                              </div>

                            </div>
                          <div class="row">
                            <div class="col-sm-6">
                                <h6>Download statement </h6>
                                <span class="blw">{{input}}</span>
                            </div>


                            <div class="col-sm-4">
                                <h6>View all Statements</h6>
                                <span class="blw right">{{input}}</span>
                            </div>

                        </div>
                      </div>
                  </div>
              </div>
              <!-- /#page-content-wrapper -->
              <div class="col-sm-6">
                  <div class="card right">
                      <div class="card-body">
                          <div id="chart">
                              <apx-chart
                                [series]="chartOptions.series"
                                [chart]="chartOptions.chart"
                                [labels]="chartOptions.labels"
                                [responsive]="chartOptions.responsive"
                              ></apx-chart>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-sm-6">
                  <div class="card left">
                      <div class="card-body">
                          <h4>Account Summary </h4>
                          <hr>

                          <h6>Available Balance <span>{{input}}</span></h6>


                          <hr>
                          <div class="row">
                              <div class="col-sm-6">
                                  <h6>forward Balance </h6>
                                  <span class="blw">{{input}}</span>
                              </div>


                              <div class="col-sm-4">
                                  <h6>credit limit</h6>
                                  <span class="blw right">{{input}}</span>
                              </div>

                          </div>
                          <hr>
                          <div class="row">
                              <div class="col-sm-6">
                                  <h6>spending plan adjustment </h6>
                                  <span class="blw">{{input}}</span>
                              </div>


                              <div class="col-sm-4">
                                  <h6>Rewards points</h6>
                                  <span class="blw right">{{input}}</span>
                              </div>

                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <h6>Download statement </h6>
                                  <span class="blw">{{input}}</span>
                              </div>


                              <div class="col-sm-4">
                                  <h6>View all Statements</h6>
                                  <span class="blw right">{{input}}</span>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
              <!-- /#page-content-wrapper -->
              <div class="col-sm-6">
                  <div class="card right">
                      <div class="card-body">
                          <div class="row">
                              <div class="col-sm-6">
                                  <h4>Payments </h4>
                              </div>
                              <div class="col-sm-6">
                                  <a class="head">Make Payment > </a> <a class="head"> view All ></a>
                              </div>

                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <h6>forward Balance </h6>
                                  <span class="blw">{{input}}</span>
                              </div>


                              <div class="col-sm-4">
                                  <h6>credit limit</h6>
                                  <span class="blw right">{{input}}</span>
                              </div>

                          </div>
                          <hr>
                          <div class="row">
                              <div class="col-sm-6">
                                  <h6>spending plan adjustment </h6>
                                  <span class="blw">{{input}}</span>
                              </div>


                              <div class="col-sm-4">
                                  <h6>Rewards points</h6>
                                  <span class="blw right">{{input}}</span>
                              </div>

                          </div>
                          <div class="row">
                              <div class="col-sm-6">
                                  <h6>Download statement </h6>
                                  <span class="blw">{{input}}</span>
                              </div>


                              <div class="col-sm-4">
                                  <h6>View all Statements</h6>
                                  <span class="blw right">{{input}}</span>
                              </div>

                          </div>
                          <div class="row">
                            <div class="col-sm-6">
                                <h6>Download statement </h6>
                                <span class="blw">{{input}}</span>
                            </div>


                            <div class="col-sm-4">
                                <h6>View all Statements</h6>
                                <span class="blw right">{{input}}</span>
                            </div>

                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- /#wrapper -->








 
